#image3 {
    margin: 0 auto;
    height: 310px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    filter: contrast(1.3);
}



#head3 {
    color: #BB2C31;
}

#i {
    margin: 4px;
    color: #BB2C31;
}

#i:hover {
    color: black;
}


#as {
    box-shadow: 1px 0px 2px black;
    border-bottom-left-radius: 52px;
}