#image1 {
    width: 100%;
    filter: contrast(1.2);
}

#head4 {
    text-align: left;
    color: #BB2C31;
}

#text4 {
    text-align: left;
    color: gray;
}

#btn4 {
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    top: 6px;
    left: 5px;
    border-bottom-right-radius: 16px;
    color: white;
    background-color: gray;
}